<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="toolbar-title">INFOVIEW User SPA Application</span>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Existing Users</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng-container *ngIf="users.length > 0; else noRecordFound">
          <app-users-table-grid [users]="users" (deleteUserEventEmitter)="deleteUserEventEmitterHandler($event)"
            (addNewUserEventEmitter)="addNewUserEventEmitterHandler($event)"
            (updateUserEventEmitter)="updateUserEventEmitterHandler($event)"></app-users-table-grid>
        </ng-container>
        <ng-template #noRecordFound>
          <div class="no-user-found">
            No User(s) found.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>